
.Donate .Donateh2{
    text-align: center;
    margin: 2em 0;
}

.DonateImgForm  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.error{
    color: rgba(141,50,59,255);
    background-color: rgba(248,215,218,255);
   border: 1px solid rgba(245,196,201,255);
   border-radius: 5px;
   height: 10vh ;
   margin-bottom: 5px;
   padding: 0.5em;
   width: 50vw;
}



.DonateImgForm form{
    display: flex;
    flex-direction: column;
}

.DonateImgForm form input {
    border: 1px solid rgba(0, 0, 0, 0.11);
    margin-bottom: 5px;
    width: 50vw;
    border-radius: 5px;
    padding: 1em;
}

 .DonateImgForm form select {
    border: 1px solid rgba(0, 0, 0, 0.11);
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 1em;
 }

.DonateImgForm form button{
    height: 7vh;
    border: none;
    border-radius: 5px;
    background: black;
    color:white;
}


@media (max-width:998px) {
    .DonateImgForm img{
        width: 40vw;
    }
}

@media (max-width:600px) {
    .DonateImgForm {
        display: flex;
       flex-direction: column;
    }

    .DonateImgForm img{
        width: 60vw;
    }

    .DonateImgForm form input {
        width: 90vw;
    }
    .error{
        width: 90vw;
    }
}
