.SelectedServicesInformationProfile table th {
    border-bottom: 1px solid #bfd4d8;
    width: 70vw;
    padding: 1em 0;
  }
  
  .Profile{
      display: flex;
      flex-direction: column;
      margin: 2em;
  }


 .profileForm input{
    margin: 1em ;
    padding: 0.9em; 
    width: 25vw;
  }

  .profileForm button {
    border: none;
    border-radius: 5px;
    background: black;
    color:white;
    padding: 0.5em;
  }

.group3{
  margin: 1em;
}

  .group1,.group2,.group3,.group4,.group5{
    display: flex;
    justify-content: center;

  }

  .errorname{
    color: rgba(141,50,59,255);
    background-color: rgba(248,215,218,255);
   border: 1px solid rgba(245,196,201,255);
   border-radius: 5px;
   margin: 1em 0.2em;
   padding: 0.5em;
   width: 28vw;
  }

  th img{
 width: 10vw;

  }
  
  .ProfileInformation {
    display: flex;
    flex-direction: column;
    padding: 1em;
  }
  
  .ProfileImgInformation {
    width: 70%;
    display: flex;
    margin: 0 auto;
    border: 1px solid #dbdee1;
    box-shadow: 1px 1px 10px #bfd4d8;
  }
  
  .Profile .ProfileTitle{
      margin: 2em auto;
      
  }
  
  .ProfileInformationUserName {
      margin: 0.6em 0;
    
  }

  .ProfileInformation h3{
    font-size: 1.3em;
    margin: 1em 0;
}

.ProfileInformation h2{
  font-size: 1.3em;
  margin: 1em 0;

}

   .messageprofile{
      color: #50ad84;
    margin: 1.5em 0;
    }
  
  @media (max-width:726px) {
      .ProfileImgInformation {
        flex-direction: column;
        width: 100%;
      }
      th img{
        width: 20vw;
      
         }

         .ProfileInformation h3{
          font-size: 1em;
          margin: 1em 0;
      }

      .ProfileInformation h2{
        font-size: 1em;
        margin: 1em 0;
      
      }
      .SelectedServicesInformationProfile table th {
        font-size: 0.8em;
      }

     .profileForm input{
        width: 38vw;
        margin: 0.2em;
        padding: 0.2em;
      }

      .errorname{
        width: 60vw;
    
    }
      
  }


  @media (max-width:426px) {
    .SelectedServicesInformationProfile table th {
      font-size: 0.7em;
    }
    .ProfileImgInformation {
      width: 99%;
    }

    .group1,.group2,.group3,.group4,.group5{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

   .profileForm input{
      margin: 1em ;
      padding: 0.9em; 
      width: 60vw;
    }

 

    .errorname{
      width: 60vw;
      margin-bottom: 1em;

  }

  
  }
  